.choose {
    

    &__header{
        position: absolute;
        text-align: center;
        top: -40px;
        left: 50%;
        font-size: 28px;
        font-weight: 700;
        transform: translateX(-50%);
        transition: 1s all;
    }
    &__mode-record {
        position: absolute;
        top: -75px;
        left: 50px;
        font-size: 66px;
        font-weight: 600;
        transition: 0.6s all;
        &_descr {
            font-style: 24px;
            position: absolute;
            left: -850px;
            top: 160px;
            transition: 1.1s ease;
        }
    }




    &__mode-memory{
        position: absolute;
        bottom: -175px;
        left: 50px;
        font-size: 66px;
        font-weight: 600;
        transition: 0.6s all;
        &_descr {
            font-style: 24px;
            position: absolute;
            left: -650px;
            bottom: 65px;
            transition: 1.1s ease;
        }
    }
    &__border2 {
        width: 100%;
        height: 250px;
        position: absolute;
        border: 2px dotted black;
        left: 0px;
        bottom: 84px;
        transition: 1.2s all;
    }





    &__img {
        position: absolute;
        top: 55px;
        right: -510px;
        // padding-top: 25px;
        height: 520px;
        transition: 0.6s all;
    }
    &__border-record {
        width: 100%;
        height: 250px;
        position: absolute;
        border: 2px dotted black;
        left: -900px;
        top: 84px;
        transition: 1.4s all ease;
    }
    &__border-memory {
        width: 100%;
        height: 250px;
        position: absolute;
        border: 2px dotted black;
        left: -900px;
        bottom: 9px;
        transition: 1.2s all;
    }
 


}

#btn-record {
    position: absolute;
    left: -160px;
    bottom: 280px;
    border: none;
    border-radius: 150px;
    background-Color: RGB(146, 227, 169);
    height: 50px;
    width: 150px;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    &:focus {
        outline: none;
    }&:hover {
        box-shadow: 2px 2px #000;
        transition: .3s;
        }
}
#btn-memory {
    position: absolute;
    left: -180px;
    bottom: 22px;
    border: none;
    border-radius: 150px;
    background-Color: RGB(146, 227, 169);
    height: 50px;
    min-width: 150px;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    &:focus {
        outline: none;
    }&:hover {
        box-shadow: 2px 2px #000;
        transition: .3s;
        }
    
}